.header__container {
}
.static__container {
  min-height: 80px;
}
.header {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999999;
  background: linear-gradient(to bottom, #141b29, #0c111b 300px);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  &.fixed__header {
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #141b29, #0c111b 300px);
  }

  .nav__container {
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 6px;
    min-height: 66px;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1190px) {
  .header {
    .nav__container {
      padding: 0 10px;
      max-width: 100%;
    }
  }
}
