@import '../../assets/styles/_variable';

.footer {
  color: $TEXT_COLOR_L2;
  position: relative;

  p {
    color: #919191;
  }

  .container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding: 34px 0 24px;

    .footer__left {
      padding: 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;

          a {
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            color: $TEXT_COLOR_L1;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            padding: 0 20px 0 0;
          }
        }
      }

      .copyright {
        padding-top: 11px;
        padding-right: 15%;
        font-size: 12px;
        line-height: 1.8;
        color: $TEXT_COLOR_L3;
        font-weight: 400;
      }
    }

    .footer__right {
      padding-right: 0;
      padding-left: 20px;
      max-width: 540px;
      float: right;

      .app__unit {
        padding: 0 0 24px 30px;
        float: right;

        .store__wrapper {
          float: right;

          a {
            height: 40px;
            width: 135px;
            display: inline-block;
            margin-right: 5px;
            cursor: pointer;

            &.playstore {
              background-position: 0 0;
            }
            &.appstore {
              background-position: -140px 0;
            }
          }

          a:last-child {
            margin-right: 0;
          }
        }
      }

      .social__unit {
        float: right;
        padding: 0;

        a {
          height: 40px;
          width: 40px;
          display: inline-block;
          margin-right: 5px;
          cursor: pointer;
        }

        a:last-child {
          margin-right: 0;
        }

        a.fb {
          background-position: 0 0;
        }

        a.tw {
          background-position: -45px 0;
        }
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: $TEXT_COLOR_L2;
        padding-bottom: 7px;
      }
    }
  }
}
:root .footer .store__wrapper a {
  background: url('../../assets/images/store.svg') left top no-repeat;
}
:root .footer .social__unit a {
  background: url('../../assets/images/social.svg') left top no-repeat;
}

@media only screen and (max-width: 1170px) {
  .footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer .container .footer__right .app__unit .store__wrapper {
    a {
      &.playstore,
      &.appstore {
        margin-bottom: 5px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .footer .container {
    margin: 0;
    padding: 25px;
  }
}
@media only screen and (max-width: 960px) {
  .footer .container .footer__right .app__unit {
    padding: 0 0 24px 70px;
  }
}
@media only screen and (max-width: 768px) {
  .footer .container {
    width: 100%;
  }
  .footer .container .footer__left .copyright {
    padding-bottom: 20px;
    padding-right: 0;
  }
  .footer .container .footer__right {
    padding: 0 0 0 30px;

    .app__unit {
      .store__wrapper {
        float: right;
        display: inline-block;
        padding: 0 0 24px 30px;
      }
    }

    .social__unit {
      float: left;
      text-align: left;
    }
  }
}
@media only screen and (max-width: 767px) {
  .footer .container .footer__right {
    padding: 0 0 40px 0;

    .app__unit {
      padding: 0 0 24px;

      .store__wrapper {
        padding: 0;
      }
    }
  }
}
