* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #141b29, #0c111b 300px);
  text-rendering: auto;
  color: #fff;
  font-size: 1.125em;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

a {
  outline: 0;
  color: #1f80e0;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

a,
a:hover,
a:active,
a:focus,
a img,
object,
embed {
  outline: none;
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
ul {
  padding: 0;
}
ul,
p {
  font-size: 14px;
  margin: 0;
}
