@import '~bootstrap/scss/bootstrap';
@import './bootstrap.scss';
@import '_variable';

body {
  margin: 0;
  background: linear-gradient(to bottom, #141b29, #0c111b 300px);
  text-rendering: auto;
  color: #fff;
  font-size: 1.125em;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  color: $BRAND_BLUE;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

// Header Component
.static-container {
  min-height: 80px;
}
.header {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999999;
  background: linear-gradient(to bottom, #141b29, #0c111b 300px);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  &.fixed-header {
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #141b29, #0c111b 300px);
  }

  .nav-container {
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 6px;
    min-height: 66px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .btn-hamburger {
      cursor: pointer;
    }

    .navigations {
      position: relative;
    }
  }
}
.btn-hamburger {
  .icon-wrapper {
    position: relative;
    padding: 20px;
    margin-left: -10px;

    .line {
      width: 18px;
      height: 2px;
      background: rgba(255, 255, 255, 0.6);
      display: block;
    }
    .line:nth-child(2) {
      margin-top: 3px;
      margin-bottom: 3px;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
  }
}
.nav-logo {
  cursor: pointer;

  .brand-logo {
    padding-bottom: 7px;
  }
}
.navigations {
  margin: 0;
  display: inline-block;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    li {
      display: inline-block;

      .nav-link {
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        padding: 20px 15px 20px;
        line-height: normal;
      }
      .nav-link:hover {
        color: rgba(255, 255, 255, 1);
      }

      .kids {
        position: relative;
        bottom: -2px;
      }
    }
  }
}
.dropdown-container {
  border-bottom: 0 solid #334336;
}
.iconClass.kids,
.iconClass.exit-kids {
  width: 40px;
  height: 15px;
  background: url('../../assets/images/kids.svg') no-repeat;
}
.iconClass {
  background: url('../../assets/images/exit_kids.svg') no-repeat;
  width: 22px;
  height: 22px;
  margin-right: 20px;
}

@media only screen and (min-width: 769px) and (max-width: 1190px) {
  .header {
    .nav-container {
      padding: 0 10px;
      max-width: 100%;
    }
  }
}
@media only screen and (min-width: 801px) and (max-width: 1099px) {
  .navigations {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header .nav-container {
    padding-left: 14px;
    padding-right: 4px;
  }
}
@media only screen and (max-width: 768px) {
  .header .nav-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    margin-top: 0;
    min-height: 0;
    height: 56px;
  }
  .static-container {
    min-height: 56px;
  }
}
@media only screen and (max-width: 1024px) {
  .navigations {
    display: none;
  }
}
@media only screen and (min-width: 1098px) {
  .nav-logo .brand-logo {
    width: 115px;
    height: 45px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 1600px) {
  .navigations ul li .nav-link {
    font-size: 18px;
  }
  .nav-logo .brand-logo {
    width: 135px;
    height: 53px;
    padding-bottom: 12px;
  }
}
@media only screen and (min-width: 1920px) {
  .navigations ul li .nav-link {
    font-size: 18px;
  }
  .nav-logo .brand-logo {
    width: 162px;
    height: 62px;
    padding-bottom: 14px;
  }
}

// Footer Component
.footer {
  color: $TEXT_COLOR_L2;
  position: relative;

  p {
    color: #919191;
  }

  .container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding: 34px 0 24px;

    .footer-left {
      padding: 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;

          a {
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            color: $TEXT_COLOR_L1;
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            padding: 0 20px 0 0;
          }
        }
      }

      .copyright {
        padding-top: 11px;
        padding-right: 15%;
        font-size: 12px;
        line-height: 1.8;
        color: $TEXT_COLOR_L3;
        font-weight: 400;
      }
    }

    .footer-right {
      padding-right: 0;
      padding-left: 20px;
      max-width: 540px;
      float: right;

      .app-unit {
        padding: 0 0 24px 30px;
        float: right;

        .store-wrapper {
          float: right;

          a {
            height: 40px;
            width: 135px;
            display: inline-block;
            margin-right: 5px;
            cursor: pointer;

            &.playstore {
              background-position: 0 0;
            }
            &.appstore {
              background-position: -140px 0;
            }
          }

          a:last-child {
            margin-right: 0;
          }
        }
      }

      .social-unit {
        float: right;
        padding: 0;

        a {
          height: 40px;
          width: 40px;
          display: inline-block;
          margin-right: 5px;
          cursor: pointer;
        }

        a:last-child {
          margin-right: 0;
        }

        a.fb {
          background-position: 0 0;
        }

        a.tw {
          background-position: -45px 0;
        }
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: $TEXT_COLOR_L2;
        padding-bottom: 7px;
      }
    }
  }
}
:root .footer .store-wrapper a {
  background: url('../../assets/images/store.svg') left top no-repeat;
}
:root .footer .social-unit a {
  background: url('../../assets/images/social.svg') left top no-repeat;
}

@media screen and (min-width: 1170px) {
  .footer .container {
    margin: 0 auto;
    max-width: calc(100vw - 105px);
  }
}
@media only screen and (max-width: 1170px) {
  .footer .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer .container .footer-right .app-unit .store-wrapper {
    a {
      &.playstore,
      &.appstore {
        margin-bottom: 5px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .footer .container {
    margin: 0;
    padding: 25px;
  }
}
@media only screen and (max-width: 960px) {
  .footer .container .footer-right .app-unit {
    padding: 0 0 24px 70px;
  }
}
@media only screen and (max-width: 768px) {
  .footer .container {
    width: 100%;
  }
  .footer .container .footer-left .copyright {
    padding-bottom: 20px;
    padding-right: 0;
  }
  .footer .container .footer-right {
    padding: 0 0 0 30px;

    .app-unit {
      .store-wrapper {
        display: inline-block;
        padding: 0 0 24px 30px;
      }
    }

    .social-unit {
      float: left;
      text-align: left;
    }
  }
}
@media only screen and (max-width: 767px) {
  .footer .container .footer-right {
    padding: 0 0 40px 0;

    .app-unit {
      padding: 0 0 24px;

      .store-wrapper {
        padding: 0;
      }
    }
  }
}

// 404 Page
.no-page {
  min-height: calc(100vh - 57px);
  position: relative;
  top: 57px;

  .error-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.error-wrapper {
  text-align: center;

  .title {
    font-size: 32px;
    font-weight: 700;
  }

  .info {
    font-size: 14px;
  }
}
.television {
  background: url('../../assets/images/television.png') center center no-repeat;
  display: inline-block;
  width: 330px;
  height: 330px;
}
.home-btn,
.home-btn:hover,
.home-btn:visited,
.home-btn:focus {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  color: #1f80e0;
  padding: 17px 77px;
  border: 1px solid #1f80e0;
  border-radius: 2px;
  display: block;
  margin: 20px auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  outline: none;
}

// Genres Component
.container .content-holder {
  padding-right: 0;
  padding-left: 0;
  position: relative;

  h2 {
    font-size: 20px;
    margin: 0;
    padding: 26px 0 20px;
    display: inline-block;
    text-transform: none;
    font-weight: 500;
    color: $TEXT_COLOR_L1;
  }

  .card:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    z-index: 4;
  }
}
